#navbarContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	height: 4rem;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	padding: 2em;
}
#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
}

a {
	color: #000;
	text-decoration: none;
}
